In [ ]:
def feature_engineering(df):
    import pandas as pd
    import numpy as np
    import seaborn as sns
    import matplotlib.pyplot as plt
    from sklearn import preprocessing
    from sklearn.preprocessing import normalize
    
    # Lakukan observasi untuk mengecek:
    # 10 Data teratas
    cars_data.head(10)
    # Statistik dari tiap kolom
    cars_data.describe(include='all')
    # Tipe data dari tiap kolom
    cars_data.info()
    # Persentase nilai null
    cars_data.isnull().sum()/cars_data.isnull().count()*100
    
    # ubahlah format penulisan beberapa kolom dari camelCase menjadi snake_case.
    # "dateCreated": "ad_created"
    #  "dateCrawled": "date_crawled"
    #  "fuelType": "fuel_type"
    #  "lastSeen": "last_seen"
    #  "monthOfRegistration": "registration_month"
    #  "notRepairedDamage": "unrepaired_damage"
    #  "nrOfPictures": "num_of_pictures"
    #  "offerType": "offer_type"
    #  "postalCode": "postal_code"
    #  "powerPS": "power_ps"
    #  "vehicleType": "vehicle_type"
    #  "yearOfRegistration": "registration_year"
    cars_data.rename(columns = {"dateCreated": "ad_created",
                            "dateCrawled": "date_crawled",
                            "fuelType": "fuel_type",
                            "lastSeen": "last_seen",
                            "monthOfRegistration": "registration_month", 
                            "notRepairedDamage": "unrepaired_damage",
                            "nrOfPictures": "num_of_pictures",
                            "offerType": "offer_type",
                            "postalCode": "postal_code",
                            "powerPS": "power_ps",
                            "vehicleType": "vehicle_type",
                            "yearOfRegistration": "registration_year"}, 
                 inplace=True)
    #Ubah tipe data dari kolom yang berisi data tanggal sehingga bertipe data `datetime64`
    cars_data["ad_created"] = pd.to_datetime(cars_data["ad_created"])
    cars_data["date_crawled"] = pd.to_datetime(cars_data["date_crawled"])
    cars_data["last_seen"] = pd.to_datetime(cars_data["last_seen"])
    
    # Dari hasil pengolahan diatas drop beberapa kolom dengan kriteria sebagai berikut:
    # Untuk kolom yang bertipe string lakukan pengecekan jumlah data uniknya. Jika perbandingan data unik terlalu besar maka drop kolom tersebut
    # Untuk kolom numeric, drop kolom yang tidak berisi informasi apapun (hanya berisi angka 0)
    # Drop kolom yang informasinya unik disetiap baris datanya ("name") dan kolom yang memiliki banyak kategori namun tidak balance("postal_code")
    cars_data.drop(columns=['name','seller','vehicle_type','offer_type','model','postal_code','num_of_pictures'], inplace=True)
    
    # Dataset yang diolah memiliki outlier pada kolom price. untuk itu kita perlu menghapus kolom outlier dari datesetnya.
    # Lakukan eksplorasi terhadap kolom price agar anda dapat mengidentifikasi outlier tersebut
    # Untuk memudahkan pemrosesan, ditentukan nilai dari kolom price berkisar 500 sampai 40000. Hapus data yang nilai pricenya tidak masuk dalam rentang tersebut.
    cars_data = cars_data[(cars_data['price'] > 0 ) & ( cars_data['price'] <4000 )]
    cars_data
    
    # Dari hasil observasi pada nomor 1. Terlihat beberapa kolom memiliki nilai NaN. Lakukan imputasi terhadap data NaN, dengan ketentuan:
    # jika kolom tersebut bertipe object maka input dengan data mode-nya
    # jika kolom tersebut bertipe numeric input dengan nilai mediannya
    cars_data.fillna({'gearbox':cars_data['gearbox'].mode()[0], 
                  'fuel_type':cars_data['fuel_type'].mode()[0],
                  'unrepaired_damage':cars_data['unrepaired_damage'].mode()[0],},
                inplace=True)
    
    # 8. Lakukan normalisasi terhadap semua kolom yang bertipe Numeric (kecuali kolom target *'price'*).
    from sklearn.preprocessing import normalize
    data_numeric = cars_data[['odometer','power_ps']]
    cars_data.reset_index(inplace=True)
    cars_data
    cars_data.drop(columns=['odometer','power_ps'],inplace=True)
    data_normal = normalize(X=data_numeric, norm="l2", axis=1)
    data_normal = pd.DataFrame(data_normal, columns=data_numeric.columns)
    pd.merge(cars_data,data_normal,on="index")
    
# 9. Lakukan encoding untuk data kategorik, sehingga bertipe numeric. Perlu diperhatikan jika kolom tersebut bertipe ordinal pastikan proses encoding memerhatikan urutan dari tiap kategori.

> Note: lakukan eksplorasi terhadap data kategorik untuk menentukan mana kolom bertipe nominal atau ordinal
    return df_transformed